/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//SaSS vars
$titlefont : 'Abel', sans-serif;
$titlecolor: blueviolet;

//General styling
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f7f7f7;
    color: #5f5f5f;
    padding-top: 70px;
}

h1, h2, h3, th, .media-box {
    font-family: $titlefont;
}

h1, h2, h3 {
    color: $titlecolor
}

td, form {
    font-family: Helvetica, sans-serif;
}

a, a.navbar-brand {
    color: $titlecolor;
}

a:hover, a.navbar-brand:hover {
    text-decoration: line-through;
    color: #b82be2;
}

.edit-profile, .logout, .login, .signup  {
    font-size: 1.25em;
}

//navbar 
.navbar-text {
    font-size: 1.25em;
}

//NEW USER PAGE (sign up form)
.login-link:hover a {
    text-decoration: line-through;
    color: #b82be2;
}

.login-link {
    margin-bottom: 15px;
}


.welcome {
    font-size: 1.25em;
    margin: 5px;
}

.welcome img {
    margin: 0 10px;
}

//USER SHOW PAGE
.profile-img {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
    margin-top: 30px;
}

.media-box {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30%;
    display: inline-block;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

.media-box:hover a, td a:hover {
    text-decoration: line-through;
    color: #b82be2;
}

.follow-item {
    margin: 5px; 
}

.follow-item a, .pw-link {
    font-size: 1.25em;
}

.follow-item:last-child {
    margin-bottom: 30px;
}

.pw-link {
    margin-top: 50px;
}

//SEARCH RESULT PAGE
.search-result-name {
    margin-left: 5%;
    font-size: 1.25em;
}



.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.wrapper .actions {
    color: $titlecolor;
    font-family: Itim, sans-serif;
    margin-bottom: 50px;
}


.blurb{
    margin: 0 auto;
    text-align: center;
}

.title {
    color: $titlecolor;
    text-shadow: 1px 1px rgb(0, 216, 255);
}

.edit {
    margin-bottom: 30px;
}

.save-changes-btn {
    font-family: Itim, sans-serif;
}

th {
    font-size: 1.25em;
    color: $titlecolor;
}

.search-result {
    display: inline-block;
    margin: 5px;
}

//MEDIA QUERIES
    
//iphone 6
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    //make media box full width on phone
    .media-box {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
    }
}


