/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "ionicons";

//SaSS vars
$titlefont : 'Abel', sans-serif;
$titlecolor: #df00fc;
$navcolor: #222;

$bgcolor: #2c2c2c;
$bordercolor: #111;
$panelcolor: #2c2c2c;
$mainfontcolor: #777;
$hovercolor: #b82be2;

//General styling
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $bgcolor;
    color: $mainfontcolor;
    padding-top: 50px;
    background-image: url('/background_dark.jpg');
    background-size: cover;
}

body>.container-fluid {
    padding-top: 20px;
}

.panel {
    background-color: $panelcolor;    
}

.panel-default > .panel-heading, th {
    background-color: $navcolor;
}

.panel-default, .panel-default > .panel-heading, .panel > .panel-body + .table, .table > tbody > tr > td, .navbar-inverse .navbar-toggle {
    border-color: $bordercolor;
}

h1, h2, h3, th, .media-box {
    font-family: $titlefont;
}

h1, h2, h3 {
    color: $titlecolor
}

td, form {
    font-family: Helvetica, sans-serif;
}

a {
    color: $titlecolor;
}

a:hover {
    text-decoration: line-through;
    color: $hovercolor;
}

//home-page
.jumbotron {
    height: 90vh;
    background-color: transparent;
}

.jumbotron hr {
    border-color: $mainfontcolor;
}

.jumbotron-homepage {
    color: #999;
}

.homepage-box {
    background-color: rgba(34, 34, 34, 0.7);
    padding: 10px;
    height: auto;
}

//navbar 
.navbar-text {
    font-size: 1.25em;
}

.nav-image {
    max-height: 100%;
    width: auto;
    display: block;
}

.navbar-inverse .navbar-brand {
    color: $titlecolor;
}

.navbar-inverse .navbar-brand a {
    color: $titlecolor;
}

.navbar-inverse .navbar-brand.navbar-link:hover, .navbar-inverse .navbar-brand .navbar-link:hover {
    text-decoration: line-through;
    color: $hovercolor;
}

.navbar-inverse .navbar-brand span, .navbar-inverse .navbar-brand span:hover {
    color: $mainfontcolor;
    text-decoration: none;
}

.navbar-inverse .navbar-toggle {
    background-color: $panelcolor;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: $mainfontcolor;
}

//FORMS
.form-control {
    background-color: $panelcolor;
    border-color: $bordercolor;
}

.form-control:focus {
    border-color: $titlecolor;
    box-shadow: inset 0 1px 1px $titlecolor, 0 0 8px $titlecolor;
}

//BUTTONS
.btn-default {
    background-color: $panelcolor;
    border-color: $bordercolor;
    color: $titlecolor;
}

.btn-default:hover {
    background-color: $panelcolor;
    color: $hovercolor;
    text-decoration: line-through;
    border-color: $titlecolor;
    box-shadow: inset 0 1px 1px $titlecolor, 0 0 8px $titlecolor;
}

.btn-info {
    color: #fff;
    background-color: #4e4e4e;
    border-color: $bordercolor;
}

.btn-info:hover {
    background-color: #4e4e4e;
    border-color: $titlecolor;
    box-shadow: inset 0 1px 1px $titlecolor, 0 0 8px $titlecolor;
    color: $hovercolor;
    text-decoration: line-through;
}

//NEW USER PAGE (sign up form)
.login-link:hover a {
    text-decoration: line-through;
    color: $hovercolor;
}

.login-link {
    margin-bottom: 15px;
}

.page-header {
    border-bottom-color: $bordercolor;
}

//USER SHOW PAGE
.title {
    color: $titlecolor;
    text-shadow: 1px 1px rgb(0, 216, 255);
}

.profile-img {
    box-shadow: 2px 2px 2px $bordercolor;
    margin-top: 30px;
}

.media-box {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30%;
    display: inline-block;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

a.media-link {
    text-decoration: none;
}

.media-box:hover {
    background-color: $navcolor;
    border-color: $titlecolor;
    box-shadow: inset 0 1px 1px $titlecolor, 0 0 8px $titlecolor;
}

.media-box:hover span {
    color: $hovercolor;
    text-decoration: line-through;
}

td a:hover {
    text-decoration: line-through;
    color: $hovercolor;
}

th {
    font-size: 1.25em;
    color: $titlecolor;
}

.follow-button {
    color: $mainfontcolor;
    background-color: $panelcolor;
    border-color: $titlecolor;
}

.delete-link {
    color: #db3b00;
}

.delete-link:hover {
    color: orangered;
}

a.delete-link:active, a.delete-link:focus {
    text-decoration: none;
    color: orangered;
}

.follow-button:hover {
    border-color: lawngreen;
    color: lawngreen;
    box-shadow: inset 0 1px 1px lawngreen, 0 0 8px lawngreen;
}

.unfollow:hover {
    border-color: orangered;
    color: orangered;
    box-shadow: inset 0 1px 1px orangered, 0 0 8px orangered;
}

.follow-item {
    margin: 5px; 
}

.follow-item a {
    font-size: 1.25em;
}

.follow-item:last-child {
    margin-bottom: 30px;
}

//SEARCH RESULT PAGE
.search-result-name {
    margin-left: 5%;
    font-size: 1.25em;
}

a.list-group-item {
    background-color: $panelcolor;
    border-color: $bordercolor;
}

a.list-group-item:hover {
    background-color: $navcolor
}


//MEDIA QUERIES
    
//iphone 6
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    //make media box full width on phone
    .media-box {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
    }
}


